.lnext{
	width: 700px;
	height: 450px;
	background: #000;
	color: #fff;
	top: 55%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;


}
.avatar1{
	width: 70px;
	height: 70px;
	position: absolute;
	border-radius: 25%;
	top: -30px;
	left: calc(50% - 50px);
	
}
h1{
	margin: -10px;
	padding: -10px 0 20px;
	text-align: center;
	font-size: 22px;

}
.lnext p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}
.lnext input{
	width: 100%;
	margin-bottom: 20px;

}
.lnext input[type="number"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 20px;

}
.lnext input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 20px;
	border-radius: 20px;


}
.lnext input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;

}
.lnext a{
	text-decoration: none;
	font-size: 30px;
	line-height: 20px;
	color: black;

}
.lnext a:hover{
	color: #ffc107;
}